# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

#Firebase
GoogleService-Info.plist

# Swift Package Manager
Packages/
.swiftpm/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

#Firebase
GoogleService-Info.plist

# macOS
*.swp
*~.nib
